<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Ingresar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input required type="password"></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button expand="block" color="success">ingresar</ion-button>
      </div>
    </form>
  </ion-content>
</ion-app>
