<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Obligaciones de las personas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" fullscreen class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/comiendo.jpg"/>
     <h3>Obligaciones de las personas</h3>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/vacuna.jpg" />
      <h4>Artículo 5. (OBLIGACIONES DE LAS PERSONAS)</h4>
      <p>
        I. Las personas tienen las siguientes obligaciones:<br>
        a. Evitar causarles o permitir sufrimientos innecesarios.<br>
        b. Abstenerse de realizar procedimientos quirúrgicos innecesarios.<br>
        c. Educar a las nuevas generaciones, sobre la importancia del respeto a los animales y promover su defensa.<br>
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/lastimado.png">
      <p>
        d. Denunciar ante las autoridades competentes, los actos de maltrato y crueldad que contravengan el ordenamiento jurídico relacionado con la protección de los animales.<br>
        e. Denunciar los casos de sospechas de zoonosis y otras enfermedades propias de los animales, ante las autoridades competentes.<br>
        f. Otras establecidas por Ley o reglamento.
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/raton.jpg" />
      <h4>II. Los dueños o encargados de los animales, tienen las siguientes obligaciones:</h4>
      <p>
        a. Asumir la responsabilidad emergente de la custodia y tenencia de un animal y de los daños a terceros que el animal pudiera ocasionar.<br>
b. Controlar su ciclo reproductivo y darle cuidado médico veterinario profesional, adecuado y oportuno.<br>
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/atacando.png">
      <p>
        c. Velar por su alimentación y abrigo necesario.<br>
        d. Evitar la cría de un número mayor de animales que el que pueda ser bien mantenido, sin ocasionar molestias a terceros, ni poner en peligro la salud pública.<br>
        e. No abandonarlos.
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>

