<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Salud</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item [routerLink]="['alergias']">
    <ion-avatar slot=start>
      <ion-icon name="restaurant" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>Alergias</ion-label>
  </ion-item>
  <ion-item [routerLink]="['patologias']">
    <ion-avatar slot=start>
      <ion-icon name="cloudy-night" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>Patologias</ion-label>
  </ion-item>
  <ion-item [routerLink]="['pruebas']">
    <ion-avatar slot=start>
      <ion-icon name="paw" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>Pruebas de Diagnostico</ion-label>
  </ion-item>
  <ion-item [routerLink]="['9/fill']">
    <ion-avatar slot=start>
      <ion-icon name="water" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>Plato de Agua</ion-label>
  </ion-item>
  <ion-item [routerLink]="['10/fill']">
    <ion-avatar slot=start>
      <ion-icon name="cog" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>Correra y Collar</ion-label>
  </ion-item>
</ion-content>

