<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Prohibiciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" fullscreen class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/llorando.png"/>
     <h3>Tratos Crueles</h3>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/llorando.png" />
      <h3>Artículo 350 Bis. (TRATOS CRUELES).</h3>
      <p>
        I. Se sancionará con privación de libertad de seis (6) meses a un (1) año, y multa de treinta (30) a sesenta (60) días o prestación de trabajo de tres (3) a seis (6) meses, a quien:<br>
        1. Ocasionare, con ensañamiento o con motivos fútiles, sufrimiento grave y daño que provoque la pérdida total o parcial de un sentido, de parte de su fisonomía o de un órgano, a un animal.
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/llorando.png" />
      <p>
        2. Utilizare a un animal para cualquier práctica sexual.<br>
        II. En caso de que un animal ocasionare las consecuencias establecidas en el numeral<br>
        1. del Parágrafo anterior, el dueño o tenedor cubrirá los costos de la asistencia médica y el resarcimiento económico cuando corresponda, bajo alternativa de aplicarse la pena dispuesta para tratos crueles.<br>
        </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/llorando.png" />
      <p>
        III. La pena será agravada en un tercio de la pena máxima, si producto del trato cruel se ocasione la muerte del animal.<br>
        2. Utilizare a un animal para cualquier práctica sexual.<br>
        II. En caso de que un animal ocasionare las consecuencias establecidas en el numeral
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/llorando.png" />
      <p>
        1. del Parágrafo anterior, el dueño o tenedor cubrirá los costos de la asistencia médica y el resarcimiento económico cuando corresponda, bajo alternativa de aplicarse la pena dispuesta para tratos crueles.<br>
        III. La pena será agravada en un tercio de la pena máxima, si producto del trato cruel se ocasione la muerte del animal.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/llorando.png" />
      <h3>Artículo 350 ter. (BIOCIDIO)</h3>
      <p>
        I. Se sancionará con privación de libertad de dos (2) años a cinco (5) años y multa de treinta (30) a ciento ochenta (180) días, a quien matare con ensañamiento o con motivos fútiles a un animal.<br>
        II. La sanción será agravada en un tercio de la pena máxima, si se matare a más de un animal.
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>
