<ion-header>
  <ion-toolbar color="success">
    <ion-title>Nuevo registro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="vacunaform" (ngSubmit)="OnSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label>Vacuna</ion-label>
        <ion-input formControlName="vacuna_name"></ion-input>
        <ion-icon name="search-circle" size="large" (click)="openModal()">
        </ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha:</ion-label>
        <ion-datetime formControlName="fecha_vacuna"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Recordatorio</ion-label>
        <ion-toggle formControlName="recordatorio" color="success"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Realizado</ion-label>
        <ion-toggle formControlName="realizado" color="success"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Notas</ion-label>
        <ion-textarea formControlName="notas">

        </ion-textarea>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" color="success" type="submit">Guardar Registro</ion-button>
    </div>
    <div class="ion-padding">
      <ion-button expand="block" color="danger" (click)="close()">Cancelar</ion-button>
    </div>
  </form>
</ion-content>
