<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buenos Cuidados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" fullscreen class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <img src="assets/images/ninos_cuidando.jpg">
     <h3>Buenos Cuidados de Animales</h3>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/ninos_cuidando.jpg" />
      <h3>Artículo 1. (OBJETO)</h3>
      <p>
        La presente Ley tiene por objeto establecer el marco normativo para la defensa de los animales, contra actos de violencia, crueldad y maltrato, cometidos por personas naturales o jurídicas.
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/ninos_cuidando.jpg" />
      <h3>Artículo 2. (FINALIDAD)</h3>
      <p>
        La presente Ley tiene por finalidad prevenir y penalizar los actos de violencia, maltrato, crueldad y biocidio cometidos por personas contra animales domésticos, en el marco del numeral 21 del Parágrafo I del Artículo 298 de la Constitución Política del Estado.
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>
