<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuidados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-fab vertical="top" horizontal="start" >
        <ion-fab-button color="success" (click)="editMascota()">
          <ion-icon name="pencil"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-col size="6">
        <ion-img src="{{mascota.photo_data}}">
        </ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input [(ngModel)]="mascota.nombre" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tipo</ion-label>
            <ion-input [(ngModel)]="mascota.tipo.descripcion" disabled></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-card [routerLink]="['limpieza']">
            <ion-icon name="bandage" class="icon-margin" size="large"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle class="button-font-size">Limpieza</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['vacuna']">
          <ion-icon name="eyedrop" class="icon-margin" size="large"></ion-icon>
        <ion-card-header>
          <ion-card-subtitle class="button-font-size">Vacunacion</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['higiene']">
          <ion-icon name="water" class="icon-margin" size="large"></ion-icon>
        <ion-card-header>
          <ion-card-subtitle class="button-font-size">Higiene</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-card [routerLink]="['medicamentos']">
          <ion-icon name="flask" class="icon-margin" size="large"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 9px;">Medicamentos</ion-card-subtitle>
          </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['medicion']">
          <ion-icon name="bar-chart" class="icon-margin" size="large"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle class="button-font-size">Mediciones</ion-card-subtitle>
          </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['comida']">
          <ion-icon name="nutrition" class="icon-margin" size="large"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle class="button-font-size">Comidas</ion-card-subtitle>
          </ion-card-header>
      </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-card [routerLink]="['salud']">
          <ion-icon name="fitness" class="icon-margin" size="large"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle class="button-font-size">Salud</ion-card-subtitle>
          </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="images" class="icon-margin" size="large"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle class="button-font-size">Galeria</ion-card-subtitle>
          </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="logo-octocat" class="icon-margin" size="large"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle class="button-font-size">Adopciones</ion-card-subtitle>
          </ion-card-header>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>