<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ley para la defensa de Animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card [routerLink]="['cuidados']">
          <img src="assets/images/cuidaos.jpg" />
          <ion-card-header>
            <ion-card-title>Buenos Cuidados</ion-card-title>
          </ion-card-header>
        </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card [routerLink]="['derechos']">
        <img src="assets/images/leyes.jpg" />
        <ion-card-header>
          <ion-card-title>Derechos </ion-card-title>
          <ion-card-subtitle>de los Animales</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card [routerLink]="['obligaciones']">
      <img src="assets/images/buen_cuidado.jpg" />
      <ion-card-header>
        <ion-card-title>Obligaciones de la personas</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-col>
<ion-col size="6">
  <ion-card [routerLink]="['prohibiciones']">
    <img src="assets/images/derechos.jpg" />
    <ion-card-header>
      <ion-card-title>Prohibiciones</ion-card-title>
      <ion-card-subtitle>hello World!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-col>
<ion-col size="6">
  <ion-card [routerLink]="['medios']">
    <img src="assets/images/medios_comunicacion_icon.jpg" />
    <ion-card-header>
      <ion-card-title>Medios de Comunicacion</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-col>
<ion-col size="6">
  <ion-card [routerLink]="['tratos']">
    <img src="assets/images/malos_tratos.jpeg" />
    <ion-card-header>
      <ion-card-title>Tratos Crueles</ion-card-title>
      <ion-card-subtitle>hello World!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
