<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Prohibiciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" fullscreen class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img class="rounded-photo" src="assets/images/vendiendo.jpg"/>
     <h3>Prohibiciones</h3>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/perro_triste.png" />
      <h3>Artículo 6. (PROHIBICIONES)</h3>
      <p>
        a. El uso de animales en prácticas de instrucción militar, policial u otras, en las que se provoque la muerte o sufrimiento del animal.<br>
        b. La movilización, ingreso, salida y comercialización de animales en las jurisdicciones afectadas, en caso de brotes de rabia, zoonosis y epizootias.<br>
        </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/perro_triste.png" />
      <p>
        c. Someter a los animales a trabajos por encima de su resistencia o capacidad, al punto de causarles enfermedades o la muerte.<br>
        d. El traslado de animales con procedimientos que impliquen crueldad, malos tratos, fatiga y carencia de descanso.<br>
        e. El sacrificio de animales en el que se provoque el sufrimiento innecesario y agonía prolongada.</p>
    </ion-slide>
  </ion-slides>
</ion-content>