<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Derechos de los Animales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" fullscreen class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/atropellado.jpg" />
     <h3>Derechos de los Animales</h3>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/cuidado.jpg" />
      <h3>Artículo 3. (DERECHOS DE LOS ANIMALES)</h3>
      <p>
        Los animales como sujetos de protección, tienen los siguientes derechos:<br>
        a. A ser reconocidos como seres vivos.<br>
        b. A un ambiente saludable y protegido.<br>
        c. A ser protegidos contra todo tipo de violencia, maltrato y crueldad. <br>
        d. A ser auxiliados y atendidos.</p>
    </ion-slide>
  </ion-slides>
</ion-content>
